{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Password Javascript</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
 <img src="{% static 'image/logo2.png' %}" alt="logo" />

<h1 style="text-align: center;font-size:50px;font-family:Koulen"> Smart Tourist Guide</h1>
    </header>

     <form method="POST" action="">
        {% csrf_token %}
        <label for="password">New Password</label>
        <input type="password" id="password" placeholder="Your New Password" name="password1">
        <label for="cnfrm-password">Confirm New Password</label>
        <input type="password" id="cnfrm-password" placeholder="Confirm New password" name="password2">
        <p id="message"></p>
        <!-- <button >SUBMIT </button> -->
        <input type="submit" onclick="checkPassword()" value="SUBMIT"/>
    </form>
    <!--Script-->
    <script src="{% static 'js/script.js' %}"></script>
    <footer>
<h2>&copy; CopyRight Reserved STG 2022</h2>
    </footer>
</body>
</html>